.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination img {
	margin-right: 10px;
}
.pagination span {
	width: 35px;
	height: 35px;
	color: #5e5e5e;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	margin-right: 10px;
}
.pagination .active {
	text-align: center;
	width: 35px;
	height: 35px;
	background-color: #021869;
	color: #ffffff;
}

@media screen and (max-width: 412px) {
	.pagination {
		margin-top: 48px;
	}
}
